JWT_SECRET=
PORT=
ENCRYPTION_SECRET_KEY=
# database
DB_USERNAME=
PASSWORD=
DATABASE=
HOST=
DIALECT=
DB_RETRY_MAX=
DB_RETRY_TIMEOUT=
DB_PORT=
DB_VALIDATE_MAX=
NODE_ENV =
DB_POOL_MAX=
DB_POOL_MIN=
DB_POOL_ACQUIRE=
DB_POOL_IDLE=
DB_STATEMENT_TIMEOUT=
DB_IDLE_TRANSACTION_TIMEOUT=
DB_CONNECT_TIMEOUT=
DB_SSL =
DB_SSL_REJECT_UNAUTHORIZE=
# whatsapp credentials
VERSION=
PHONE_NUMBER_ID=
ACCESS_TOKEN=
PRODUCTION_BASE_URL=
DEVELOPEMENT_BASE_URL=
FACEBOOK_APP_SECRET=
APP_URL=
# whatsapp webhook
VERIFY_TOKEN=
# predibase chatBot
PREDIBASE_TENANT_ID=
PREDIBASE_DEPLOYMENT= 
# CDN CREDENTIAL
CDN_DOMAIN = 
CDN_ENABLED=
ENDPOINT=
MINIO_PORT=
ACCESS_KEY=
SECRET_KEY=
REGION=
BUCKET_NAME=
# google credential 
CLIENT_ID=
ANDROID_ENDUSER_CLIENT_ID=
WEB_ENDUSER_CLIENT_ID=
# apple credentials
APPLE_CLIENT_ID=
APPLE_TEAM_ID=
# kaleyra credentials
KALEYRA_BASE_URL=
KALEYRA_API_KEY=
KALEYRA_FLOW_ID=
KALEYRA_PHONE_FLOW_ID=
# Google Analytics Credential
GOOGLE_ANALYTICS_ID=
# mail service
SMPT_HOST=s
SMPT_PORT=
SMPT_SERVICE=
SMPT_MAIL=
SMPT_PASSWORD=